<h1 class="fw-bold text-center mb-2">Homepage</h1>
<h2>Post in evidenza</h2>

<!-- prima inserzione -->
<div class="card">
  <div class="card-body">
    <p class="card-id">id: {{ posts[indexRandom].id }}</p>
    <h5 class="card-title">{{ posts[indexRandom].title }}</h5>
    <p class="card-text">
      {{ posts[indexRandom].body }}
    </p>
    <p class="card-text">tags: {{ posts[indexRandom].tags }}</p>
  </div>
</div>

<h2>Quattro post</h2>

<!-- ciclo tutti i post -->
<div class="card" *ngFor="let one of arrayFour">
  <div class="card-body">
    <p class="card-id">id: {{ one.id }}</p>
    <h5 class="card-title">{{ one.title }}</h5>
    <p class="card-text">
      {{ one.body }}
    </p>
  </div>
</div>
